/*
* @Author: MaWenXiang
* @Date:   2018-01-23 14:54:16
* @Last Modified by:   MaWenXiang
* @Last Modified time: 2018-01-23 15:04:43
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}